<h2>Añadir nuevo ingrediente</h2>

<form action="/recetas/ingredienteInd/aniadir" method="POST">
    <fieldset>
        <% if (locals.error) { %>
            <p><strong><%= locals.error %></strong></p>
        <% } %>
        <legend>Detalles del ingrediente</legend>
        <div><label>Nombre:</label> <input type="text" name="nombre" required placeholder="Nombre" /></div>
        <div><label>Categoría:</label> <input type="text" name="categoria" required placeholder="Categoría" /></div>
        <div><label>Precio:</label><input type="text" name="precio" required placeholder="Precio" min="0" /></div>
        <div><label>Stock:</label> <input type="number" name="stock" required placeholder="Stock" min="0" /></div>        
        <button type="submit">Añadir ingrediente</button>
    </fieldset>
</form>