<form id="editar-ingredinte" action="/recetas/ingredienteInd/aniadir" method="POST"enctype="multipart/form-data">

    <% if (locals.error) { %>
        <p><strong>
                <%= locals.error %>
            </strong></p>
        <% } %>

            <div class="form-header">
                <h2>Añadir nuevo ingrediente</h2>
            </div>

            <div class="form-section">
                <h3>Información Básica</h3>
                <div><label>Nombre:</label> <input type="text" name="nombre" required placeholder="Nombre" /></div>
                <p></p>
                <div><label>Categoría:</label> <input type="text" name="categoria" required placeholder="Categoría" />
                </div>
                <h3>Información Adicional</h3>
                <div><label>Precio:</label><input type="number" step="any" name="precio" required placeholder="Precio"
                        min="0" /></div>
                <p></p>
                <div><label>Stock:</label> <input type="number" name="stock" required placeholder="Stock" min="0" />
                </div>

                <h3>Especificaciones</h3>
                <strong>Unidad de medida:</strong>
                <select name="unidad_medida" required>
                    <option value="">Selecciona una unidad</option>
                    <option value="gramos">Gramos</option>
                    <option value="mililitros">Mililitros</option>
                    <option value="unidades">Unidades</option>
                </select>
                <p></p>
                <div>
                    <label for="inputImagen">Foto (No subir nada para mantener la fotografía actual):</label><input
                        type="file" name="foto" id="inputImagen">
                </div>
            </div>
            <button type="submit">Añadir ingrediente</button>
</form>