<h1>Gestión de la Receta Diaria</h1>

<script src="/js/recetasCalendario.js" type="module" defer></script>
<script src="/js/cargarRecetas.js" type="module" defer></script>

<div id="calendarWk"></div>
<div id="recetaInfo" style="display: none;">
    <h2 id="recetaNombre"></h2>
    <img id="recetaImagen" alt="Imagen de la receta" style="max-width: 200px;">
    <button id="editarReceta" style="display: none;">Editar</button>
    <button id="agregarReceta">Añadir</button>
</div>