<h1>Mi Calendario Semanal</h1>

<section id="calendario">
    <% let diasSemana = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"]; %>

    <% diasSemana.forEach(dia => { %>
        <div>
            <h3><%= dia %></h3>
            <!-- 
            <a href="/recetas/catalogo">
                <button>Añadir receta</button>
            </a>
            -->
            
            <a href="/recetas/catalogo?origen=calendario"> 
                <button>Añadir Receta</button>
            </a>
        </div>
    <% }); %>
</section>
