<h1>Cesta</h1>
<div id="cesta">    
    <!-- Pasa los datos como atributos data- -->
    <div id="cesta-data" 
         data-precio="<%= precioTotal %>" 
         data-ingredientes="<%= JSON.stringify(ingredientes) %>">
    </div>
</div>
<script src="/js/mostrarCesta.js"></script>
