<h1>Cesta</h1>
<div id="cesta">
    <script src="/js/mostrarCesta.js"></script>
    <h1>Cesta</h1>
    <div id="cesta">
    <!-- Solo incluye el script, no llames a la función desde EJS -->
    <script src="/js/mostrarCesta.js"></script>
    
    <!-- Pasa los datos como atributos data- -->
    <div id="cesta-data" 
         data-precio="<%= precio %>" 
         data-ingredientes="<%= JSON.stringify(ingredientes) %>">
    </div>
</div>
</div>