<h1>Configuración</h1>

<div id="catalogo" class="cards_container">
    <article class="card">
        <img src="https://mdn.github.io/shared-assets/images/examples/balloons.jpg" alt="Pronto habrá una foto" />
        <header>
            <a href="/usuario/perfil">
                <h4>Mi perfil</h4>
            </a>
        </header>
    </article>

    <article class="card">
        <img src="https://mdn.github.io/shared-assets/images/examples/balloons.jpg" alt="Pronto habrá una foto" />
        <header>
            <a href="/usuarios/historial">
                <h4>Historial de compra</h4>
            </a>
        </header>
    </article>

    <article class="card">
        <img src="https://mdn.github.io/shared-assets/images/examples/balloons.jpg" alt="Pronto habrá una foto" />
        <header>
            <a href="/usuario/misrecetas">
                <h4>Mis recetas</h4>
            </a>
        </header>
    </article>

    <article class="card">
        <img src="https://mdn.github.io/shared-assets/images/examples/balloons.jpg" alt="Pronto habrá una foto" />
        <header>
            <a href="/usuario/micalendario">
                <h4>Mi calendario</h4>
            </a>
        </header>
    </article>
</div>

