<h1> CookingLab </h1>
<p> CookingLab ofrece una amplia base de datos de recetas, que puedes filtrar según los ingredientes
    que ya tienes, por tiempo de elaboración, o por las mejor valoradas por la comunidad.
    Cada receta incluye una lista detallada de ingredientes, pasos sencillos y valoraciones de otros
    usuarios.
</p>

<p>Además, si no tienes tiempo para hacer compras, CookingLab te permite añadir ingredientes
    directamente a tu cesta y comprarlos con un solo clic.
</p>

<p>Nuestras recetas son elaboradas por expertos, que no solo han creado y probado las recetas,
    sino que podrán asesorarte personalmente con menús personalizados y calendarios.
</p>

<img src="../image/logo.png" alt="Logo CookingLab" width="300" height="300" >