<h1> CookingLab </h1>
    <p> Parece que ha habido un error.
        <br> Por favor, vuelve a intentarlo más tarde.
        <br> Si el problema persiste, contacta con el administrador del sistema.
        <br> <a href="/">Volver a la página principal</a>
    </p>

    <img src="../image/logo.png" alt="Logo CookingLab" width="300" height="300" >