<h1> CookingLab </h1>
    <p> Su pedido no se ha podido procesar.</p>
    <p> Lo sentimos, no hay suficientes ingredientes en stock para completar tu pedido.</p>
    <p> Por favor, vuelve a intentarlo más tarde.</p>
    <p> Si el problema persiste, contacta con el administrador del sistema.</p>
    <p> <a href="/">Volver a la página principal</a></p>

    <img src="../image/logo.png" alt="Logo CookingLab" width="300" height="300" >