<%
const flashMsg = getAndClearFlash();
if( flashMsg ) {
%>
<dialog id="flashModal">
    <form method="dialog">
    <p><%= flashMsg %></p>
    <a href="/">Cerrar</a>
    </form>
</dialog>
<% } %>

<script>
const flashDialogEl = document.getElementById("flashModal");
if (flashDialogEl) {
    flashDialogEl.showModal();
}

</script>