<h1>Ingredientes</h1>
<% if (session.esAdmin) { %>
<a href="/recetas/ingredienteInd/aniadir"><button>Añadir ingrediente</button></a>
<% } %>

<div id="catalogo" class="cards_container">
    <% ingredientes.forEach(ingredienteInd => { %>
        <article class="card">
            <header>
                <a href="ingredienteInd/?id=<%= ingredienteInd.id %>">
                    <h4><%= ingredienteInd.nombre %></h4>
                </a>
            </header>
        </article>
        <% }) %>
</div>



