<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>

  <%- include('./partials/cabecera.ejs', { session: locals.session }) %>

  <main>
    <article>
    <%- include(contenido) %>
    </article>
  </main>
  <%- include('./partials/pie.ejs') %>

</body>
</html>