body {
    background-color: #ffffff;
    color: #000000;
}
@font-face {
    font-family: 'alice';
    font-display: swap;
    src: url('/static/fonts/Alice-Regular.ttf')format('ttf');
}
h1{
    font-family: 'alice';
    background-color: #F383A0;
}
p, h2, h3 {
    font-family: 'alice';
}
em{
    font-weight: bold;
}

img{
    display: block;
    margin: auto;
}