<%
/**
 * Muestra el saludo si el usuario esta registrado, en caso de que no lo este,
 * muestra que es un usuario desconocido.
 */
function mostrarSaludo(session){
	if (session == null || ! session.login){
		return `<p>Usuario desconocido. &rarr;</p>`;
	}

	return `<p>Bienvenido ${session.nombre}.</a></p>`;
}
%>
<%
function menu(session){
	/**
	 * Muestra el menu de opciones del usuario, si no esta registrado
	 * muestra las opciones de login y registro.
	 */
	if (session == null || ! session.login){
		return `<li><a href="/usuarios/login">Login</a></li>
				<li><a href="/usuarios/register">Registro</a></li>`;
	}
	
	return `<li><a href="/usuarios/configuracion">Configuración</a></li>
			<li><a href="/usuarios/logout">Cerrar sesión</a></li>`;
}
%>
<header>
	<h1>COOKINGLAB</h1>
	<ul class="navbar">
		<li><a href="/">Inicio</a></li>
		<li><a href="/contenido/conocenos">Conócenos</a></li>
		<li><a href="/recetas/catalogo">Recetas</a></li>
		<li><a href="/recetas/ingrediente">Ingredientes</a></li>
		<li><a href="/contenido/cesta">Cesta</a></li>
		<li><a href="/contenido/admin">Administrar</a></li>
		<li><a href="/recetas/buscarReceta">Buscar</a></li>
		<li><%- mostrarSaludo(session) %></li>
		<li><div class= "dropdown">
			<button class="dropdown-btn"><img src="/image/User_Icon.png" alt="User Icon"></button>
			<div class="dropdown-content">
				<ul class =>
					<%- menu(session) %>
				</ul>
			</div>
		</div></li>
	  </ul> 

		
</header>