<footer>
	
	<ul class="navbar">
		<li><a href="/">Inicio</a></li>
		
		<li><a href="/recetas/catalogo">Recetas</a></li>
		<li><a href="/recetas/ingrediente">Ingredientes</a></li>
		<li><a href="/pedidos/cesta">Cesta</a></li>
		<li><a href="/contenido/contacto">Contacta con nosotros</a></li>	
		<li><a href="/contenido/conocenos">Conócenos</a></li>

	</ul>

</footer>