<nav id="sidebarIzq">
	<h3>Navegación</h3>
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/contenido/normal">Ver contenido</a></li>
		<li><a href="/contenido/admin">Administrar</a></li>
		<li><a href="/recetas/catalogo">Catálogo</a></li>
	</ul>
</nav>